// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_image {
    width: 60px;
    height: 70px;
}
#store .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #77d;
}
 
#store .title {
    font-size: 120%;
    font-family: sans-serif;
}
 
#store .entry img {
    width: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
 
 
#store .entry h3 {
    margin-top: 0;
    margin-bottom: 2px;
    color: #227;
}
 
#store .entry p {
    margin-top: 0.5em; 
    margin-bottom: 0.8em; 
}
 

#store .entry .add_to_cart {
    position: relative;
    
}
.button_to{
    margin-top: 5px;
} 
#store .cart_title {
    font: 120% bold;
}
 
#store .item_price, #store .total_line {
    text-align: right;
}
 
#store .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
}
/* Cart sidebar Style */
#cart, #cart table {
    font-size: smaller;
} 
 
#cart table {
    border-top: 1px dotted #595;
    border-bottom: 1px dotted #595;
    margin-bottom: 10px;
}
/* Order form style */
.store_form fieldset {
    background: #efe;
}
 
.store_form legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
}
 
.store_form label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 20px;
    margin-right: 10px;
    display: block;
    
}
.form-actions {
    margin-left: 75px !important;
}
 
.store_form div {
    margin: 0.5em 0;
}
/* Language chooser style */
.locale {
    float: right;
    margin: -0.25em 0.1em;
}